#### Specific ####

# ROOT dict
*_dict.*

# automake
Makefile
Makefile.in

*/header

core.*

###Directory

#### General ####

### Linux ###
.*
!.gitignore
*~

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini


### C++ ###
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Extensions
*.d
*.root
*.org
*.bck
*.png
*.ps
*.pdf
